
header {
  background-color: #B4C2CD;
  overflow: auto;
  color: rgb(0, 0, 0);
}

.cabecalhoFilmografia {
  margin-top: 10px;
  list-style: none;
  display: flex;
  padding: 0%;
}

.containerCabecalho {
  position: relative;
}

.logo {
  height: 200px;
  width: 250px;
  vertical-align: left;
}

.filmografia {
  font-family: Armata;
  padding: 1px 20px 0 0;
  margin-top: 180px;
  display: flex;
  font-size: 45px;
}

.sobre {
  font-family: Armata;
  padding: 1px 20px 0 20px;
  display: inline-block;
  margin: 0;
  margin-right: 65px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px ;
  right: 50px;
  font-size: 40px; 
}

.home {
  font-family: Armata;
  padding: 1px 20px 0 20px;
  display: inline-block;
  margin: 0;
  margin-right: 65px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 170px;
  font-size: 40px; 
}

.ordenacao{
  font-family: Armata;
  font-size: 20px;
  margin: 30px 0 0 780px ;
  width: 150px;
  height: 30px;
  padding: 2px 2px 2px 15px;

}

.filtro {
  font-family: Armata;
  font-size: 20px;
  width: 220px;
  height: 30px;
  padding: 2px 2px 2px 15px;
}

body {
  background-color: #d5e0e8;
}


.filmesContainer {
  width: 100%;
  height: 100%;
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
}

.filme-poster {
  margin: 70px 20px 70px 20px;
  width: 300px;
  height: 400px;
  box-sizing: border-box;
  align-items: center;
} 

.titulo-filmes {
  margin: 40px 20px 40px 20px;
  font-family: Armata;
  font-size: 20px;
}


/* TELA INICIAL */

/* .container {
  position: relative; /* Para que as imagens fiquem sobrepostas e posicionadas da forma que queremos, usamos  */
  /* a propriedade CSSposition, usamos a position:relative para a DIV pai e position:absolute 
  para a DIV filho. */ 
  /* width: 800px;
  height: 600px;
} */
/* 
.imagem-fundo {
  position: absolute;
  width: 167%;
  height: 120%;
  background: url("Imagens/dc18f7fc4d75aa4f4692818e74fd1da1.jpg") no-repeat center center;
  background-size: cover;
  /* opacity: 0.7;
} 

/* .totoro {
  position: absolute;
  left: -12px;
  width: 660px;
  height: 600px;
} */

/* .studioGhibli {
  position: absolute;
  width: 450px;
  height: 120px;
  top: 470px;
  left: 800px;
} */

/* /* .botaoBuscar{
  width: 20%;
  margin-top: 25px;
  padding: 10px 20px;
  font-size: 30px;
  position: absolute;
  left: 140%;
  border: none;
  background-color: rgb(135, 189, 189); 
*/


/* 
.containerBotoes{
  display: flex;  */
  /* Colocar os dois botões dentro de um container para deixar o display 
  flex e possibilitar os dois ficarem um do lado do outro */

/* } */

/* 
.botaoSobre{
  width: 8%;
  margin-top: 5px;
  margin-right: 7px;
  padding: 10px 20px;
  font-size: 30px;
  position: relative;
  left: 900px;
  border: none;

} */
/* 

.botaoFilmes{
  width: 8%;
  margin-top: 5px;
  margin-right: 7px;
  padding: 10px 20px;
  font-size: 30px;
  position: relative;
  left: 900px; Coloca o item mais para a direita da tela e para a esquerda dele */
  /* border: none; Retira a borda do botão

}  */






